<h2>Resumes list</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="resumeRow in resumesList.resumesRows">
        <td>
            <div re-edit-field edit-object="resumeRow" edit-field="'name'" edit-mode="resumeRow.editMode"></div>
        </td>
        <td>
            <input type="text" class="form-control" ng-model="resumeRow.data.description" ng-if="resumeRow.editMode"/>
            <span ng-if="!resumeRow.editMode">{{resumeRow.data.description}}</span>
        </td>
        <td>
            <button class="btn btn-xs btn-primary" ng-click="resumesList.startEditing(resumeRow)" ng-if="!resumeRow.editMode">Edit</button>
            <span ng-if="resumeRow.editMode">
                    <button type="submit" class="btn btn-xs btn-success" ng-click="resumesList.saveResume(resumeRow)">Save</button>
                    <button type="button" class="btn btn-xs btn-default" ng-click="resumesList.cancelEditing(resumeRow)">Cancel</button>
            </span>
        </td>
    </tr>
    </tbody>
</table>

<pre>{{resumesList.resumesRows|json}}</pre>
